.terraform/

.terraform.lock.hcl

*terraform.tfstate*
terraform.tfstate.backup

.terragrunt

*.terragrunt-cache
*backend.tf
*provider.tf

node_modules/

tmp/
**/tmp/
build/
!**/build/
dist/

handler.zip